@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  @font-face {
    font-family: "roboto";
    src: url("./assets/fonts/RobotoCondensed-VariableFont_wght.ttf")
      format("truetype");
  }
  body {
    @apply transition-colors duration-300 bg-white text-black dark:bg-black dark:text-white overflow-x-hidden;
    font-family: "roboto", sans-serif;
  }

  .dark {
    @apply bg-black text-white;
  }
}

@layer components {
  .dropdown-btn {
    @apply block w-full px-4 hover:text-blue-400 hover:cursor-pointer;
  }
}

@layer utilities {
  .shadow-light {
    box-shadow: 0 25px 50px -12px rgba(255, 255, 255, 0.1);
  }

  .universal-shadow {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  }

  .dark .universal-shadow {
    box-shadow: 1px 2px 5px rgba(241, 242, 245, 0.79);
  }
  .dark .nav-shadow {
    box-shadow: 0px 4px 20px rgba(243, 243, 244, 0.256);
  }

  .link-underline {
    position: relative;
  }

  .link-underline::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(to right, #60a5fa, #a78bfa);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    border-radius: 9999px;
  }

  .link-underline-active::after {
    transform: scaleX(1);
  }

  .gradient-text {
    @apply bg-gradient-to-r from-blue-800 via-blue-500 to-purple-900 bg-clip-text text-transparent;
    background-size: 200% 200%;
    animation: gradientMove 6s ease infinite;
  }

  @media (min-width: 580px) {
    .sm580\:block {
      display: block;
    }
    .sm580\:inline-block {
      display: inline-block;
    }
    .sm580\:inline {
      display: inline;
    }
    .sm580\:flex {
      display: flex;
    }
    .sm580\:inline-flex {
      display: inline-flex;
    }
    .sm580\:grid {
      display: grid;
    }
    .sm580\:hidden {
      display: none;
    }
  }

  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes fadeInSlide {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeInSlide {
    animation: fadeInSlide 1s ease-out forwards;
  }
}
